# java files

*.class
hs_err_pid*
*.jar

# maven files

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
repo/.locks

# eclipse files

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
*.launch
.classpath
.target

# intellij files

.idea/
out/
*.iml
*.iws
